main {
  width: 100%;
  height: auto;
  padding: 20px 0;
  background-color: bisque;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* flex-direction: column-reverse; */
  flex-wrap: wrap-reverse;
  gap: 10px;
}

main .box {
  width: 150px;
  height: 150px;
  background-color: red;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
