<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon"
        href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT8fyIs0De8dqPhtPGGJEKxYWYFd9E81k9L_A&s"
        type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="./style.css">
    <title>Okiro</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="#">Home <sup><i class="fa-solid fa-circle"></i></sup></a>
                </li>
                <li>
                    <a href="#">Fetaures</a>
                </li>
                <li>
                    <a href="#">Style Guide</a>
                </li>
            </ul>
        </nav>
        <div class="logo">
            <img src="https://okiro-dark.fueko.net/content/images/2020/11/okiro_white.svg" alt="okiro_logo">
        </div>
        <div class="right">
            <div class="search">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <div class="sign-in">
                <a href="#">Sign in<sup><i class="fa-solid fa-circle"></i></sup></a>
            </div>
            <div class="sign-up">
                <a href="#">Sign up</a>
            </div>
        </div>
    </header>
</body>

</html>