<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon"
        href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT8fyIs0De8dqPhtPGGJEKxYWYFd9E81k9L_A&s"
        type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="./style.css">
    <title>Okiro</title>
</head>

<body>
    <!--!---------------------- Header start -------------------------->
    <header>
        <nav>
            <ul>
                <li>
                    <a href="#">Home <sup><i class="fa-solid fa-circle"></i></sup></a>
                </li>
                <li>
                    <a href="#">Fetaures</a>
                </li>
                <li>
                    <a href="#">Style Guide</a>
                </li>
            </ul>
        </nav>
        <div class="logo">
            <img src="https://okiro-dark.fueko.net/content/images/2020/11/okiro_white.svg" alt="okiro_logo">
        </div>
        <div class="right">
            <div class="search">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <div class="sign-in">
                <a href="#">Sign in<sup><i class="fa-solid fa-circle"></i></sup></a>
            </div>
            <div class="sign-up">
                <a href="#">Sign up</a>
            </div>
        </div>
    </header>
    <!--!---------------------- Header end -------------------------->

    <!--?---------------------- Main start -------------------------->
    <main>
        <div class="boxes">
            <div class="box one">
                <img width="190" height="160"
                    src="https://okiro-dark.fueko.net/content/images/size/w300/2020/11/photo-1557800636-894a64c1696f.jpeg"
                    alt="image">
                <h5>Don't be afraid</h5>
                <a href="#">Megan Anderson, Lauren <br> Langford</a>
            </div>
            <div class="box two">
                <img width="190" height="160"
                    src="https://okiro-dark.fueko.net/content/images/size/w600/2020/11/photo-1582020738577-2e7a48043902.jpeg"
                    alt="image">
                <h5>Don't be afraid</h5>
                <a href="#">Megan Anderson, Lauren <br> Langford</a>
            </div>
            <div class="box three">
                <img width="190" height="160"
                    src="https://okiro-dark.fueko.net/content/images/size/w300/2020/11/photo-1530653333484-d02d0faff9bf.jpeg"
                    alt="image">
                <h5>Don't be afraid</h5>
                <a href="#">Megan Anderson, Lauren <br> Langford</a>
            </div>
            <div class="box one">
                <img width="190" height="160"
                    src="https://okiro-dark.fueko.net/content/images/size/w300/2020/11/photo-1557800636-894a64c1696f.jpeg"
                    alt="image">
                <h5>Don't be afraid</h5>
                <a href="#">Megan Anderson, Lauren <br> Langford</a>
            </div>
            <div class="box two">
                <img width="190" height="160"
                    src="https://okiro-dark.fueko.net/content/images/size/w600/2020/11/photo-1582020738577-2e7a48043902.jpeg"
                    alt="image">
                <h5>Don't be afraid</h5>
                <a href="#">Megan Anderson, Lauren <br> Langford</a>
            </div>
        </div>
    </main>
    <!--?---------------------- Main end -------------------------->

    <!--*---------------------- Section three start -------------------------->
    <div class="section-three">
        <div class="left">
            <img width="600" height="600"
                src="https://okiro-dark.fueko.net/content/images/size/w1200/2020/11/photo-1560141343-966cb5212777.jpeg"
                alt="">
        </div>
        <div class="right">
            <div class="creative">
                <p>Creative</p>
            </div>
            <div class="title">
                <a href="#">I work best when my space is filled with inspiration</a>
            </div>
            <div class="svg">
                <svg role="img" viewBox="0 0 136 24" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M1.525 1.525a3.5 3.5 0 014.95 0L20 15.05 33.525 1.525a3.5 3.5 0 014.95 0L52 15.05 65.525 1.525a3.5 3.5 0 014.95 0L84 15.05 97.525 1.525a3.5 3.5 0 014.95 0L116 15.05l13.525-13.525a3.5 3.5 0 014.95 4.95l-16 16a3.5 3.5 0 01-4.95 0L100 8.95 86.475 22.475a3.5 3.5 0 01-4.95 0L68 8.95 54.475 22.475a3.5 3.5 0 01-4.95 0L36 8.95 22.475 22.475a3.5 3.5 0 01-4.95 0l-16-16a3.5 3.5 0 010-4.95z">
                    </path>
                </svg>
            </div>
            <div class="description">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Erat ut facilisis rutrum donec tristique
                    mauris est ac nunc. Eget nec, lorem mi libero accumsan....</p>
            </div>
        </div>
    </div>

    <!--*---------------------- Section three end -------------------------->




</body>

</html>