<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon"
        href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT8fyIs0De8dqPhtPGGJEKxYWYFd9E81k9L_A&s"
        type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="./style.css">
    <title>Okiro</title>
</head>

<body>
    <!--!---------------------- Header start -------------------------->
    <header>
        <nav>
            <ul>
                <li>
                    <a href="#">Home <sup><i class="fa-solid fa-circle"></i></sup></a>
                </li>
                <li>
                    <a href="#">Fetaures</a>
                </li>
                <li>
                    <a href="#">Style Guide</a>
                </li>
            </ul>
        </nav>
        <div class="logo">
            <img src="https://okiro-dark.fueko.net/content/images/2020/11/okiro_white.svg" alt="okiro_logo">
        </div>
        <div class="right">
            <div class="search">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <div class="sign-in">
                <a href="#">Sign in<sup><i class="fa-solid fa-circle"></i></sup></a>
            </div>
            <div class="sign-up">
                <a href="#">Sign up</a>
            </div>
        </div>
    </header>
    <!--!---------------------- Header end -------------------------->
    <main>
        <div class="boxes">
            <div class="box one">
                <img width="190" height="160"
                    src="https://okiro-dark.fueko.net/content/images/size/w300/2020/11/photo-1557800636-894a64c1696f.jpeg"
                    alt="image">
                <h5>Don't be afraid</h5>
                <a href="#">Megan Anderson, Lauren <br> Langford</a>
            </div>
            <div class="box two">
                <img width="190" height="160"
                    src="https://okiro-dark.fueko.net/content/images/size/w600/2020/11/photo-1582020738577-2e7a48043902.jpeg"
                    alt="image">
                <h5>Don't be afraid</h5>
                <a href="#">Megan Anderson, Lauren <br> Langford</a>
            </div>
            <div class="box three">
                <img width="190" height="160"
                    src="https://okiro-dark.fueko.net/content/images/size/w300/2020/11/photo-1530653333484-d02d0faff9bf.jpeg"
                    alt="image">
                <h5>Don't be afraid</h5>
                <a href="#">Megan Anderson, Lauren <br> Langford</a>
            </div>
            <div class="box one">
                <img width="190" height="160"
                    src="https://okiro-dark.fueko.net/content/images/size/w300/2020/11/photo-1557800636-894a64c1696f.jpeg"
                    alt="image">
                <h5>Don't be afraid</h5>
                <a href="#">Megan Anderson, Lauren <br> Langford</a>
            </div>
            <div class="box two">
                <img width="190" height="160"
                    src="https://okiro-dark.fueko.net/content/images/size/w600/2020/11/photo-1582020738577-2e7a48043902.jpeg"
                    alt="image">
                <h5>Don't be afraid</h5>
                <a href="#">Megan Anderson, Lauren <br> Langford</a>
            </div>
        </div>
    </main>

</body>

</html>