* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1f2833;
  font-family: "Nunito", sans-serif;
  width: 85%;
  margin: auto;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

header {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav ul {
  display: flex;
  align-items: center;
  gap: 20px;
}

header nav ul li a {
  font-size: 19px;
  color: #fff;
  font-weight: bold;
}

header nav ul li a i {
  color: #cb73ff;
  font-size: 10px;
}

header .logo img {
  width: 110px;
  height: 40px;
}

header .right {
  display: flex;
  align-items: center;
  gap: 20px;
}

header .right .search i {
  color: #fff;
  font-size: 20px;
}

header .right .sign-in a {
  color: #fff;
  font-size: 18px;
}

header .right .sign-in a sup {
  color: gray;
  font-size: 10px;
  opacity: 0;
}

header .right .sign-in a:hover sup {
  opacity: 1;
}

header .right .sign-up a {
  background-color: #cb73ff;
  font-size: 20px;
  color: #fff;
  font-weight: bolder;
  padding: 10px;
  border-radius: 20px;
}

main {
  margin-top: 50px;
}

main .boxes {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main .boxes .box {
  padding: 15px;
  border-radius: 25px;
  transition: 0.5s;
}

main .boxes .box:hover {
  transform: translateY(-10px);
}

main .boxes .one {
  background-color: #d7f8ff;
}

main .boxes .two {
  background-color: #fce6f0;
}

main .boxes .three {
  background-color: #ffeab9;
}

main .boxes .box img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  border-radius: 25px;
}

main .boxes .box h5 {
  font-size: 20px;
  letter-spacing: 0.9px;
  margin-top: 10px;
}

main .boxes .box a {
  font-size: 13px;
  letter-spacing: 0.9px;
  margin-top: 10px;
  color: #000;
  font-weight: bold;
}

main .boxes .box a:hover {
  text-decoration: underline;
}

.section-three {
  margin-top: 120px;
  display: flex;
  /* align-items: center; */
  gap: 30px;
}

.section-three .left img {
  border-radius: 40px;
}

.section-three .right .creative {
  background-color: #344052;
  padding: 10px 15px;
  border-radius: 20px;
  width: 15%;
}

.section-three .right .creative p {
  color: #fff;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
}

.section-three .right .title {
  margin-top: 50px;
  width: 70%;
}

.section-three .right .title a {
  color: #fff;
  font-size: 50px;
  font-weight: bolder;
}

.section-three .right .svg {
  margin-top: 30px;
}

.section-three .right .svg svg {
  width: 100px;
}

.section-three .right .svg svg path {
  fill: #344052;
}

.section-three .right .description {
  margin-top: 30px;
}

.section-three .right .description p {
  color: #fff;
  font-size: 19px;
  width: 90%;
  font-weight: bold;
  letter-spacing: 2px;
}

.section-four {
  margin-top: 80px;
  margin-bottom: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-four .card{
  border-radius: 25px;
}

.section-four  .one {
  background-color: #d7f8ff;
}

.section-four  .two {
  background-color: #d2f8f0;
}


.section-four .card .card-image img {
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}

.section-four .card .card-content,
.section-four .card .end {
  padding: 20px;
}

.section-four .card .card-content h3 {
  font-size: 25px;
  font-weight: bold;
}

.section-four .card .card-content a {
  color: #000;
  font-weight: bold;
  margin-top: 17px;
  display: block;
  transition: 0.3s;
}

.section-four .card .card-content a:hover {
  text-decoration: underline;
}

.section-four .card .end {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-four .one .end {
  margin-top: 50px;
}

.section-four .card .end button:nth-child(1),
.section-four .card .end button:nth-child(2) {
  background-color: rgba(0, 0, 0, 0.08);
  border: none;
  border-radius: 10px;
  padding: 8px 14px;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2px;
}